body:has(#compact-menu:popover-open) {
  overflow-y: hidden;
}

.page-content {
  margin: var(--size-4) auto;

  & hr {
    margin: 0 0 var(--size-4);
  }
}

.page-content .content-outlet {
  padding: 0 var(--size-4);

  & h1 {
    font-size: var(--font-size-5);
  }

  & h2 {
    font-size: var(--font-size-4);
    font-family: var(--font-primary-bold);
    font-weight: 100;
    margin: var(--size-8) 0 0 !important;
  }

  & h2,
  & p {
    margin: var(--size-4) 0;
  }

  & h3,
  & h4,
  & h5,
  & h6 {
    font-size: var(--font-size-3);
    margin: var(--size-4) 0 var(--size-1);
  }

  & table a,
  & table code,
  & table strong,
  & table th,
  & table td {
    font-size: 24px;
    vertical-align: top;
  }

  & table tr {
    height: 20px;
  }

  & table th {
    text-decoration: underline;
    background-color: var(--color-accent);
  }

  & table {
    border: 1px solid var(--color-prism-bg);
  }

  & table td {
    padding: 6px 12px;
  }

  & ol,
  & ul {
    padding-left: var(--size-4);
  }

  & img {
    width: 100%;
  }

  & h2 > a > span.icon,
  & h3 > a > span.icon,
  & h4 > a > span.icon {
    vertical-align: text-top;
  }
}
/* 
app-heading-box {
  & .spacer {
    display: block;
    margin: var(--size-1);
  }

  & .question {
    font-style: italic;
    margin: 0 var(--size-2) 0 0;
  }

  & .answer {
    font-family: var(--font-primary-bold);
    font-weight: 100;
    text-decoration: underline;
    margin-bottom: 20px;
    display: inline-block;
  }
} */

app-sidenav {
  /* app-toc { */
  display: inline-block;
  margin: 0 auto var(--size-4);
  padding: 0 0 0 var(--size-4);
}

/* app-sidenav {
  padding: 0 0 0 var(--size-4);
} */

/* @media (min-width: 1024px) {
  app-edit-on-github {
    display: block;
  }
} */

@media (min-width: 1200px) {
  .content-outlet {
    display: inline-block;
    /* width: 90%; */
    font-size: var(--font-size-1);
  }

  /* app-edit-on-github {
    position: fixed;
    bottom: var(--size-10);
    right: var(--size-6);
  } */

  app-sidenav {
    display: inline-block;
    width: 20%;
    min-width: 25%;
    vertical-align: top;
  }

  app-sidenav:has(ul) {
    padding: var(--size-4) 0 0 var(--size-fluid-5);
    background-color: var(--color-gray);
    border: 1px dotted var(--color-prism-bg);
    border-radius: 0 var(--radius-2) var(--radius-2) 0;
  }

  /* app-toc {
    float: right;
    display: inline-block;
    width: 20%;
    position: sticky;
    top: var(--size-4);
    margin: 0 var(--size-1) 0 0;
  } */
}

@media (min-width: 768px) {
  .page-content .content-outlet {
    & iframe.stackblitz {
      margin: 10px 0;
      width: 100%;
      height: 800px;
      display: block;
    }
  }
}

@media (min-width: 1440px) {
  .page-content .content-outlet {
    width: 80%;
  }

  app-sidenav:has(ul) {
    padding: var(--size-4) var(--size-1) 0 var(--size-fluid-6);
  }
}
