.page-outlet {
  margin: 0 auto;
  padding: 0;
}

h2,
h3,
h4 {
  & a > span.icon {
    background-image: none;
    display: none;
  }
}

h2 {
  margin: var(--size-4) 0;
  text-align: center;
  font-size: var(--size-6);
}

h2 + p {
  margin: var(--size-2) auto;
  max-width: 90%;
}

h3 {
  background-color: var(--color-white);
  border-radius: var(--radius-6);
  width: fit-content;
  margin: var(--size-4) auto;
  padding: var(--size-1) var(--size-4);
  border: 1px solid var(--color-primary);
}

h3 + p {
  text-align: center;
}

code[class*='language-'],
pre[class*='language-'] {
  max-width: 94%;
  margin: var(--size-2) auto;
}

pre[class*='language-'] {
  border-radius: var(--size-4);
  box-shadow: var(--shadow-2);
  border-style: solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-width: thick;
}

pre[class*='language-']:nth-of-type(1) {
  border-top-color: red;
}

pre[class*='language-']:nth-of-type(2) {
  border-top-color: orange;
}

pre[class*='language-']:nth-of-type(3) {
  border-top-color: green;
}

.capabilities-container {
  width: 100%;
  background-color: var(--color-prism-bg);
  border-radius: var(--radius-3);
  max-width: 94%;
  margin: var(--size-2) auto;
  padding: var(--size-3);
}

wcc-feature-box {
  display: block;
  margin: 0 var(--size-1);
  vertical-align: top;
}

wcc-banner-splash {
  display: block;
  margin: var(--size-4) 0;
}

wcc-capability-box {
  display: inline-block;
  margin: var(--size-2) auto;
  width: 100%;
}

@media (min-width: 760px) {
  h2 + p {
    margin: var(--size-4) auto;
    max-width: 70%;
    text-align: center;
  }

  .capabilities-container {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  wcc-capability-box {
    display: inline-block;
    margin: var(--size-4);
    width: 92%;
  }
}

@media (min-width: 900px) {
  h2 {
    font-size: var(--size-8);
  }
}

@media (min-width: 1024px) {
  code[class*='language-'],
  pre[class*='language-'] {
    max-width: 80%;
    margin: var(--size-2) auto;
  }

  .capabilities-container {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  wcc-feature-box {
    width: 80%;
    margin: 0 auto;
  }

  wcc-capability-box {
    display: inline-block;
    width: 44%;
    margin: var(--size-3);
    vertical-align: top;
  }
}

@media (min-width: 1200px) {
  .capabilities-container {
    padding: var(--size-2);
  }

  wcc-banner-splash {
    display: block;
    margin: var(--size-6) 0;
  }

  wcc-feature-box {
    width: 32%;
    display: inline-block;
    margin: 0 var(--size-1);
  }

  wcc-capability-box {
    display: inline-block;
    width: 47%;
    margin: var(--size-2);
    vertical-align: top;
  }
}
