.page-outlet {
  margin: 0 auto;
  padding: 0;
}

h2,
h3,
h4 {
  & a > span.icon {
    background-image: none;
    display: none;
  }
}

h2 {
  margin: var(--size-4) 0;
  text-align: center;
  font-size: var(--size-6);
  text-decoration: underline;
}

h2 + p {
  margin: var(--size-2) auto;
  max-width: 90%;
}

h3 {
  background-color: var(--color-white);
  border-radius: var(--radius-6);
  width: fit-content;
  margin: var(--size-4) auto;
  padding: var(--size-1) var(--size-4);
  border: 1px solid var(--color-primary);
}

h3 + p {
  text-align: center;
}

pre[class*='language-'] {
  border-radius: var(--size-4);
  box-shadow: var(--shadow-2);
}

pre[class*='language-']:nth-of-type(1) {
  border-top-width: thick;
  border-top-color: red;
}

pre[class*='language-']:nth-of-type(2) {
  border-top-width: thick;
  border-top-color: orange;
}

pre[class*='language-']:nth-of-type(3) {
  border-top-width: thick;
  border-top-color: green;
}

wcc-feature-box {
  display: block;
  margin: 0 var(--size-1);
  vertical-align: top;
}

wcc-banner-splash {
  display: block;
  margin: var(--size-6) 0;
}

@media (min-width: 760px) {
  h2 + p {
    margin: var(--size-4) auto;
    max-width: 70%;
    text-align: center;
  }
}

@media (min-width: 900px) {
  h2 {
    font-size: var(--size-8);
  }
}

@media (min-width: 1024px) {
  code[class*='language-'],
  pre[class*='language-'] {
    max-width: 80%;
    margin: var(--size-2) auto;
  }

  wcc-feature-box {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  wcc-feature-box {
    width: 32%;
    display: inline-block;
    margin: 0 var(--size-1);
  }
}
