name: Continuous Integration Windows (JSX)

on: [pull_request]

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        node: [22, 24]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - name: Installing project dependencies
        run: |
          npm ci
      - name: Test
        run: |
          npm run test:jsx
